#
# Sample configuration file for ISC dhcpd for Debian
#
# $Id: dhcpd.conf,v 1.1.1.1 2002/05/21 00:07:44 peloy Exp $
#

authoritative;

# Client control
deny client-updates;
one-lease-per-client on;
update-static-leases on;
do-forward-updates on;
update-conflict-detection on;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;

zone flat.global. {
    primary 127.0.0.1;
}

zone 1.168.192.in-addr.arpa. {
    primary 127.0.0.1;
}

# Common stuff
ddns-updates on;
ddns-update-style interim;
ddns-rev-domainname "in-addr.arpa";
ddns-domainname "flat.global";
option interface-mtu 1500;
option domain-name-servers 192.168.1.10;
option domain-name "flat.global";
option domain-search "flat.global";
option routers 192.168.1.1;
option netbios-name-servers 192.168.1.10;
option netbios-scope "";
option broadcast-address 192.168.1.255;
option subnet-mask 255.255.255.0;
option ntp-servers 192.168.1.10;
option time-offset 0;
default-lease-time 14400; # 4 ore
max-lease-time 28800; # 8 ore

# PXE Server stuff
filename="/pxelinux.0";
next-server 192.168.1.10;

{% for host, config in pillar['dhcpd'].items() -%}
host {{ host }} {
    hardware ethernet {{ config.hwaddr }};
    fixed-address {{ config.ip }};
    update-static-leases on;
    ddns-hostname {{ host }};
    option host-name {{ host }};
    default-lease-time 86400;  # 24 ore
    max-lease-time 172800;  # 48 ore
}

{% endfor -%}

# Default subnet range
subnet 192.168.1.0 netmask 255.255.255.0 {
    range 192.168.1.40 192.168.1.80;
    #range dynamic-bootp 192.168.1.81 192.168.1.100;
}
